.custom-scrollbar-container {
    /* Set overflow to auto to enable scrollbar */
    overflow: auto;
  }
  
  .custom-scrollbar-container::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
    height: 0; /* Hide the horizontal scrollbar */
  }
  
  .custom-scrollbar-container:hover::-webkit-scrollbar-thumb {
    background-color: #94A3BB/50; /* Color of the scrollbar thumb */
  }
  
  .custom-scrollbar-container::-webkit-scrollbar-thumb {
    background-color: transparent; /* Make the scrollbar thumb transparent by default */
  }
  
  .custom-scrollbar-container:hover::-webkit-scrollbar-thumb {
    background-color: #94A3BB/50; /* Change the scrollbar thumb color on hover */
  }
  

  .progress-container {
    width: 100%;
    height: 10px; /* Adjust the height of the progress bar */
    background-color: #f0f0f0; /* Background color of the progress container */
    border-radius: 5px; /* Border radius for rounded corners */
  
    /* Optional: Add margin and padding if needed */
    margin-top: 10px;
    padding: 5px;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #34d399; /* Color of the progress bar */
    border-radius: 5px; /* Border radius for rounded corners */
  }
  
  