/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Regular.otf') format('opentype');
}


body {
  font-family: 'SF Pro Display', sans-serif;
} */
